html, body, #site
  height: 100%

body
  background: $bg_color
  color: $text_color

  font-family: $font_base
  font-size: 18px
  line-height: 1.3em

h1, h2, h3, h4, h5
  margin: 0 0 15px 0
  font-weight: bold
  color: $text_dark

a
  cursor: pointer

#site
  position: relative
  padding-top: $header_h
  // transform: translate3d(0,0,0)
  // transition: transform 300ms

.wrap
  position: relative
  max-width: 1400px
  min-width: 900px
  margin: 0 auto
