edit()

html, body, #site
  height: 100%

body
  background: #747474
  color: $text_color
  font-family: "ProximaNova"
  font-size: 18px
  line-height: 1.5em

.wrapper
  max-width: 1200px
  min-width: 900px
  width: 100%
  margin: 0 auto
  padding: 20px

#site
  transform: translate3d(0,0,0)
  transition: transform 300ms


#header
  z-index: 2
  position: absolute
  top: 0
  left: 0
  width: 100%
  padding-top: 50px
  background: rgba(255,255,255, 0.5)

#body
  background: #fff
  edit()

  p
    margin: 1em 0;

  .wrapper
    cf()
    position: relative
