button
  display: inline-block
  position: relative
  border: none
  border-radius: 5px;

  font-size: 16px
  line-height: 1.6em

  font-family: "ProximaNova"
  font-weight: bold
  text-align: center
  letter-spacing: .02em
  text-decoration: none

  padding: 0.57143em 1.42857em
  max-width: 100%
  cursor: pointer
  transition: all 0.2s ease

  user-select: none
  outline: none

  &:hover
    opacity: 0.75

  &:active
    top: 1px

  &.clear
    border: 2px solid #777
    background: transparent
    color: #777
