#footer
  flex-wrap: wrap
  justify-content: center
  background: red;

  a
    display: block

  .wrapper
    display: flex
    max-width: 800px
    background: green
    margin: 0 auto

  #foot-links
    display: flex
    flex: 1
    margin: 0 20px
    max-width: 400px
    border-right: 1px solid #dedede

  .logo
    width: 60px
    height: 60px
    background: #ccc

  .link-group
    padding: 20px
    margin: 0

  #foot-social
    flex: 1
    max-width: 400px
    margin: 0 10px 0 0
    padding: 0 20px

  #copyright
    padding: 30px 15px 15px 15px
    text-align: center
