#hero
  $w = 400px

  background: #f4f4f4

  .wrapper
    @extend clearfix

  #product-images
    float: left
    width: calc(100% - 400px)

  #product-sidebar
    float: left
    width: $w
    padding: 2em

#gallery
  position: relative
  background: green
  width: 100%
  height: 620px
  overflow: hidden

  .image
    position: absolute
    top: 0; left:0; right: 0; bottom: 0;

  img
    display: block
    width: 100%

#thumbnails
  z-index: 10
  position: absolute
  top: 30px
  left: 30px
  width: 60px

  .thumbnail
    width: 100%;
    margin-bottom: 15px
    max-width: 100%;
    border: none;
    outline: none;
    border: 1px solid #cfcfcf
    cursor: pointer

  img
    display: block
    width: 100%

#product-sidebar
  .price
    font-weight: bold
    font-size: 60px
    line-height: 1em
