#mailing-list

#subscribe
  position: relative
  overflow: hidden
  width: 100%
  max-width: 800px
  margin: 1em auto

  touch-callout: none
  tap-highlight-color: transparent
  user-select: none

  #field-email
    float: left
    appearance: none
    border: none
    margin: 0
    width: 55%
    padding: 1em
    background: #fff
    color: #758590
    font-size: 20px
    border-radius: 0

  button
    position: absolute
    top: 0
    right: 0
    width: 45%
    height: 100%
    outline: none
    border: none
    border-radius: 0
    background: #ebd054
    color: #fff
