#details

  .detail
    col(5/8)

  .aside
    col(3/8)

  #detail-image
    position: relative

    img
      width: 100%

  #detail-thumbs
    $w = 80px
    display: flex
    padding: 5px 10px 10px 10px

    li
      margin: 5px
      width: $w
      height: $w

  .price
    font-family: "Gotham"
    font-size: 50px
    line-height: 1em
    font-weight: bold
