@font-face
  font-family: "ProximaNova"
  src: font_url("proxima/ProximaNova.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ProximaNova"
  src: font_url("proxima/ProximaNova_Light.woff") format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: "ProximaNova"
  src: font_url("proxima/ProximaNova_Bold.woff") format("woff")
  font-weight: bold
  font-style: normal
