@font-face
  font-family: "ProximaNova"
  src: url("/fonts/proxima/ProximaNova.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ProximaNova"
  src: url("/fonts/proxima/ProximaNova_Bold.woff") format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: "Gotham"
  src: url("/fonts/gotham/Round.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Gotham"
  src: url("/fonts/gotham/Round_Light.woff") format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: "Tisa"
  src: url("/fonts/tisa/Tisa.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Tisa"
  src: url("/fonts/tisa/Tisa_Italic.woff") format("woff")
  font-weight: normal
  font-style: italic
