@font-face
  font-family: "ProximaNova"
  src: url("/fonts/ProximaNova.woff") format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: "ProximaNova"
  src: url("/fonts/ProximaNova.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ProximaNova"
  src: url("/fonts/ProximaNova_Sbold.woff") format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: "ProximaNova"
  src: url("/fonts/ProximaNova_Bold.woff") format("woff")
  font-weight: 900
  font-style: normal
