
// Font Stack
$font_base = "ProximaNova", "Helvetica", "Arial", sans-serif

// Colors
$bg_color = #ededed
$text_color = #676767
$text_dark = #434343
$link_color = #339ED0

// Shared Dimensions
$header_h = 90px
